@inherits PersonEditorViewModel

<ValidatableForm @ref="Form" Model="Person" HideButtons="HideButtons">
    <div class="show-panel modal-window-show-panel flex-column">
        <div class="">
            <div class="row mx-0">
                <div class="col-lg-6 d-flex flex-column justify-content-lg-between">
                    <ValidatableFormField Wide="@Wide" LabelWidth="6" Label="@Localizer[nameof(Resources.FamilyName)]" Id="familyname">
                        <ValidationMessage For="@(()=> Person.FamilyName)" />
                        <InputText Id="familyname" Class="form-control" @bind-Value="Person.FamilyName" />
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="6" Label="@Localizer[nameof(Resources.FirstName)]" Id="firstname">
                        <ValidationMessage For="()=>Person.FirstName" />
                        <InputText Id="firstname" Class="form-control" @bind-Value="Person.FirstName" />
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="6" Label="@Localizer[nameof(Resources.Patronimic)]" Id="patronimic">
                        <InputText Class="form-control" @bind-Value="Person.Patronimic" Id="patronimic" />
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="6" Label="@Localizer[nameof(Resources.Gender)]" Id="gender">
                        <ValidationMessage For="()=>Person.GenderId" />
                        <InputSelectInt @bind-Value="Person.GenderId" Class="custom-select" Id="gender" disabled="@(!Genders.Any())">
                            <option value="0">@Localizer[nameof(Resources.SelectGender)]</option>
                            @foreach (var gender in Genders)
                            {
                                <option value="gender.Id">@gender.Name</option>
                            }
                        </InputSelectInt>
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="6" Label="@Localizer[nameof(Resources.DateOfBirth)]" Id="dateofbirth">
                        <InputDate Class="form-control" Id="dateofbirth" @bind-Value="Person.DateOfBirth" />
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="6" Label="@Localizer[nameof(Resources.CountryOfBirth)]" Id="countryofbirth">
                        <InputSelectInt @bind-Value="CountryOfBirthId" Class="custom-select" Id="countryofbirth" disabled="@(!Countries.Any())">
                            <option value="0">@Localizer[nameof(Resources.SelectCountry)]</option>
                            @foreach (var country in Countries)
                            {
                                <option value="@country.Id">@country.Name</option>
                            }
                        </InputSelectInt>
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="6" Label="@Localizer[nameof(Resources.PlaceOfBirth)]" Id="placeofbirth">
                        @if (FilteredPlacesOfBirth.Count() > 50)
                        {
                            <input type="text" @bind-value="PlaceOfBirthName" @bind-value:event="oninput" class="form-control" id="placeofbirth" />
                        }
                        else
                        {
                            <InputSelectInt @bind-Value="PlaceOfBirthId" Class="custom-select" Id="placeofbirth" disabled="@(!PlacesOfBirth.Any())">
                                <option value="0">@Localizer[nameof(Resources.SelectCity)]</option>
                                @if (Countries.Count() > 0)
                                {
                                    <option value="-1">@Localizer[nameof(Resources.ResetSearch)]</option>
                                }
                                @foreach (var city in FilteredPlacesOfBirth)
                                {
                                    <option value="@city.Id" @key="city.Id">@city.Name</option>
                                }
                            </InputSelectInt>
                        }
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="6" Label="@Localizer[nameof(Resources.TaxId)]" Id="taxid">
                        <InputText Class="form-control" Id="taxid" @bind-Value="Person.TaxId" />
                    </ValidatableFormField>
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-lg-between">
                    <ValidatableFormField Wide="@Wide" LabelWidth="4" Label="@Localizer[nameof(Resources.Country)]" Id="country">
                        <ValidationMessage For="() => Person.Address.CountryId" />
                        <InputSelectInt @bind-Value="CountryId" Id="country" Class="custom-select" disabled="@(!Countries.Any())">
                            <option value="0">@Localizer[nameof(Resources.SelectCountry)]</option>
                            @foreach (var country in Countries)
                            {
                                <option value="@country.Id">@country.Name</option>
                            }
                        </InputSelectInt>
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="4" Label="@Localizer[nameof(Resources.Region)]" Id="region">
                        <InputSelectInt @bind-Value="RegionId" Class="custom-select" Id="region" disabled="@(!Regions.Any())">
                            <option value="0">@Localizer[nameof(Resources.SelectRegion)]</option>
                            @foreach (var region in Regions)
                            {
                                <option value="@region.Id" @key="region.Id">@region.Name</option>
                            }
                        </InputSelectInt>
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="4" Label="@Localizer[nameof(Resources.District)]" Id="district">
                        <InputSelectInt @bind-Value="DistrictId" Class="custom-select" Id="district" disabled="@(!Districts.Any())">
                            <option value="0">@Localizer[nameof(Resources.SelectDistrict)]</option>
                            @foreach (var district in Districts)
                            {
                                <option value="@district.Id" @key="district.Id">@district.Name</option>
                            }
                        </InputSelectInt>
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="4" Label="@(Person?.Address?.City?.CityType?.Name ?? Localizer[nameof(Resources.City)])" Id="city">
                        <ValidationMessage For="()=>Person.Address.CityId" />
                        @if (FilteredCities.Count() > 50)
                        {
                            <input class="form-control" @bind-value="CityName" @bind-value:event="oninput" id="city" />
                        }
                        else
                        {
                            <InputSelectInt @bind-Value="CityId" Class="custom-select" Id="city" disabled="@(!Cities.Any())">
                                <option value="0">@Localizer[nameof(Resources.SelectCity)]</option>
                                @if (Cities.Count() > 0)
                                    {
                                    <option value="-1">@Localizer[nameof(Resources.ResetSearch)]</option>
                                    }
                                @foreach (var city in FilteredCities)
                                    {
                                    <option value="@city.Id" @key="city.Id">@city.Name</option>
                                    }
                            </InputSelectInt>
                        }
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="4" Label="@(Person?.Address?.Street?.StreetType?.Name ?? Localizer[nameof(Resources.Street)])" Id="street">
                        @if (FilteredStreets.Count() > 50)
                        {
                            <input class="form-control" @bind-value="StreetName" @bind-value:event="oninput" id="street" />
                        }
                        else
                        {
                            <InputSelectInt @bind-Value="StreetId" Class="custom-select" Id="street" disabled="@(!Streets.Any())">
                                <option value="0">@Localizer[nameof(Resources.SelectStreet)]</option>
                                @if (Streets.Count() > 0)
                                    {
                                    <option value="-1">@Localizer[nameof(Resources.ResetSearch)]</option>
                                    }
                                @foreach (var street in FilteredStreets)
                                    {
                                    <option value="@street.Id" @key="street.Id">@street.Name</option>
                                    }
                            </InputSelectInt>
                        }
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="4" Label="@Localizer[nameof(Resources.Building)]" Id="building">
                        <InputText @bind-Value="Person.Address.Building" Class="form-control" Id="buiding" />
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="4" Label="@Localizer[nameof(Resources.Apartment)]" Id="apartment">
                        <InputText @bind-Value="Person.Address.Apartment" Class="form-control" Id="apartment" />
                    </ValidatableFormField>
                    <ValidatableFormField Wide="@Wide" LabelWidth="4" Label="@Localizer[nameof(Resources.Zip)]" Id="zip">
                        <InputText @bind-Value="Person.Address.Zip" Class="form-control" Id="zip" />
                    </ValidatableFormField>
                </div>
            </div>
        </div>
    </div>
</ValidatableForm>