@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
            asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
            asp-fallback-test-class="fa" asp-fallback-test-property="font-family" asp-fallback-test-value="FontAwesome" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script>
        "use strict"
        const API_SERVER = '@Configuration["AppSettings:ApiServer"]';
    </script>
</head>
<body>
    <div>
        <header>
            <div class="d-flex flex-column flex-lg-row px-2 py-1 header-panel header-text">
                <img src="~/images/headerlogo.png" class="m-auto mx-lg-1 align-middle header-image" />
                <div class="d-flex flex-column flex-grow-1">
                    <h3 class="display-4 text-center flex-grow-1 align-text-middle mx-auto">@Resources.MedicalInformationSystem hNext</h3>
                </div>
            </div>
        </header>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer>
            <span>© Dmytro Ivanov — @DateTime.Today.Year</span>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/vue/vue.js"></script>
        <script src="~/lib/axios/axios.js"></script>
        <script src="~/lib/moment.js/moment-with-locales.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.6/vue.min.js"
                asp-fallback-src="~/lib/vue/vue.min.js"
                asp-fallback-test="window.Vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"
                asp-fallback-src="~/lib/axios/axios.min.js"
                asp-fallback-test="window.axios"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
                asp-fallback-src="~/lib/moment.js/moment-with-locales.min.js"
                asp-fallback-test="window.moment"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
