
@model ApplicationViewModel

<template id="main-view-template">
    <div class="d-flex flex-column flex-md-row justify-content-start align-items-stretch" v-cloak>
        <div class="d-flex flex-row flex-grow-1">
            <nav>
                <ul class="nav nav-tabs flex-column">
                    @foreach (var tab in Model.Tabs)
                    {
                        <li class="nav-item">
                            <a class="nav-link side-tab-selector p-1" :class="{active : selectedTab == '@tab.Key'}"
                               @@click="tabClicked('@tab.Key')">
                                @tab.Value
                            </a>
                        </li>
                    }
                </ul>
            </nav>
            <main class="container-fluid flex-grow-1 main-panel">
                <keep-alive>
                    <component :is="selectedTab"></component>
                </keep-alive>
            </main>
        </div>
        <aside class="d-flex flex-row ml-4 ml-md-0 mt-3 mt-md-0">
            <div class="d-flex flex-row flex-grow-1 h-100">
                <keep-alive>
                    <component class="w-100" :is="selectedSideTab"></component>
                </keep-alive>
            </div>
            <nav>
                <ul class="nav nav-tabs flex-column">
                    @foreach (var sideTab in Model.SideBar)
                    {
                        <li class="nav-item">
                            <a class="nav-link side-tab-selector p-1" :class="{'active' : selectedSideTab == '@sideTab.Key' }" @@click="sideTabClicked('@sideTab.Key')">
                                @sideTab.Value
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </aside>
    </div>
</template>