@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources> Localizer
@model DocumentEditorViewModel

    <template id="document-editor-template">
        <form class="modal-window" :style="{zIndex: level*1000}">
            <confirmation-dialog v-if="showSaveConfirmation" :level="level+1" @@yes="saveConfirmed" @@no="saveCancelled">
                @Localizer[nameof(Resources.CreateNewDocument)]?
            </confirmation-dialog>
            <confirmation-dialog v-if="showChangeConfirmation" :level="level+1" @@yes="saveConfirmed" @@no="saveCancelled">
                @Localizer[nameof(Resources.Change)] @Localizer[nameof(Resources.Document)].Value.ToLower()
            </confirmation-dialog>
            <confirmation-dialog v-if="showExisting" :level="level+1" one-option="true" @@yes="existingClicked" @@no="existingClicked">
                <template #yes-button>OK</template>
                @Localizer[nameof(Resources.DocumentExists)]
            </confirmation-dialog>
            <div class="d-flex flex-column mb-1">
                <button class="btn btn-danger ml-auto" :disabled="!enabled" @@click.stop.prevent="$emit('cancel')">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="flex-column show-panel modal-window-show-panel">
                <table class="table table-sm table-borderless">
                    <tr>
                        <td class="align-bottom text-right"><label asp-for="Document.DocumentTypeId"></label></td>
                        <td>
                            <div><span asp-validation-for="Document.DocumentTypeId" class="text-danger"></span></div>
                            <select class="form-control" asp-for="Document.DocumentTypeId"
                                    asp-items="@new SelectList(Model.DocumentTypes, nameof(DocumentType.Id), nameof(DocumentType.Name))"
                                    :disabled="!enabled" v-model="document.documentTypeId">
                                <option value="0">@Localizer[nameof(Resources.SelectType)]</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-bottom text-right"><label asp-for="Document.Number"></label></td>
                        <td>
                            <div><span asp-validation-for="Document.Number"></span></div>
                            <input class="form-control" asp-for="Document.Number"
                                   :disabled="!enabled" v-model="document.number"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-bottom text-right"><label asp-for="Document.DateOfIssue"></label></td>
                        <td>
                            <div><span asp-validation-for="Document.DateOfIssue"></span></div>
                            <input class="form-control" asp-for="Document.DateOfIssue"
                                   :disabled="!enabled" v-model="dateOfIssue"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-bottom text-right"><label asp-for="Document.IssuedBy"></label></td>
                        <td><input class="form-control" asp-for="Document.IssuedBy" :disabled="!enabled"
                                   v-model="document.issuedBy"/></td>
                    </tr>
                </table>
                <div class="d-flex flex-row flex-nowrap justify-content-end">
                    <button class="btn btn-primary" :disabled="!enabled" @@click.stop.prevent="save">@Localizer[nameof(Resources.Save)]</button>
                    <button class="btn btn-danger ml-2" :disabled="!enabled" @@click.stop.prevent="$emit('cancel')">@Localizer[nameof(Resources.Cancel)]</button>
                </div>
            </div>
        </form>
    </template>
