@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources> Localizer
@model ApplicationViewModel

@{
    ViewData["Title"] = $"hNext — {Localizer[nameof(Resources.MedicalInformationSystem)]}";
}

<div id="app">
    <main-view></main-view>
</div>


@section Scripts
    {
    <script>
        const START_TAB = '@Model.Tabs.First().Key';
        const START_SIDE_TAB = '@Model.SideBar.First().Key';
    </script>

    @await Component.InvokeAsync("MainView", new { model = Model })
    <script src="~/js/mainView.js" asp-append-version="true"></script>

    @foreach (var tab in Model.Tabs)
    {
        @await Component.InvokeAsync(tab.Key, new { modules = Model.Modules })
        <script src="@($"/js/{tab.Key.ToCamelCase()}.js")" asp-append-version="true"></script>
    }
    @foreach (var sideTab in Model.SideBar)
    {
        @await Component.InvokeAsync(sideTab.Key, new { modules = Model.Modules })
        <script src="@($"/js/{sideTab.Key.ToCamelCase()}.js")" asp-append-version="true"></script>
    }

    @for (int i = 0; i < Model.Modules.Count; i++)
    {
        @await Component.InvokeAsync(Model.Modules[i], new { modules = Model.Modules })
        <script src="@($"/js/{Model.Modules[i].ToCamelCase()}.js")" asp-append-version="true"></script>
    }

    <script>
        new Vue({
            el: '#app'
        });
    </script>
}
